<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="icon" href="../../../../favicon.ico"> -->
    <title>About</title>
  </head>

  <body class="text-center">
    <form class="form-signin">

      <img src="../../assets/logo.png" alt="" style="height: 50px;">
      <h6 style="text-transform: uppercase;">
        <b>Creative Problem Solving Inventory</b>
      </h6>
      <p style="margin: 10px;">
        This inventory is designed to describe your method of problem solving. The aim of the inventory is to describe how you problem solve, not to evaluate your problem solving ability. You may find it hard to choose the words that best describe your problem solving style because there are no right or wrong answers. Diuerent characteristics are equally good.
      </p>
      <h6 style="margin-top: 15px; text-transform: uppercase;">
        Instructions
      </h6>
      <p style="margin: 10px;">
        Start filling each row HORIZONTALLY, by assigning numbers from 1 - 4 to the words that characterize your problem solving style.
      </p>

      <!-- <div>BEST characterizes</div>
      <div class="box">4 - 3 - 2 - 1</div>
      <div>LEAST characterizes</div> -->

      <button class="btn btn-lg btn-primary btn-block" type="button" routerLink="/survey">Continue</button>

    </form>
  </body>

</html>
