<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="icon" href="../../../../favicon.ico"> -->
    <title>User</title>
  </head>

  <body class="text-center">
    <form class="form-signin">
      <img src="../../assets/logo.png" alt="" style="height: 50px;">

      <label for="inputFirst" class="sr-only">First name</label>
      <input type="text" [(ngModel)]="firstName" name="first" id="inputFirst" class="form-control" placeholder="First Name" required autofocus>
      <label for="inputLast" class="sr-only">Last name</label>
      <input type="text" [(ngModel)]="lastName" name="last" id="inputLast" class="form-control" placeholder="Last name" required>
      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="email" [(ngModel)]="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required>
      <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="continuePressed()">Continue</button>
    </form>
  </body>
</html>
