<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="icon" href="../../../../favicon.ico"> -->
    <title>Profile</title>
  </head>

  <body class="text-center">
    <form class="form-signin">
      <img src="../../assets/logo.png" alt="" style="height: 50px;">
    </form>

    <div style="display: block; margin-top: 20px; margin-bottom: 20px;">
      <canvas baseChart [datasets]="radarChartData" [labels]="radarChartLabels" [legend]=false [chartType]="radarChartType" [options]="radarChartOptions" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
    </div>

    <h6 style="text-transform: uppercase;">
      <b>Creative Problem Solving Profile</b>
    </h6>
    <h6 style="margin-top: 15px;">
      Understanding your profile
    </h6>
      <p style="padding: 0px 10px 100px 10px;">
        Columns 1, 2, 3 and 4 indicate your unique orientation to gaining and using knowledge for creative problem solving:<br>
        COLUMN 1: Gaining knowledge by Experiencing (Direct personal involvement)<br>
        COLUMN 2: Using knowledge for Ideation (The generation of options without judgment)<br>
        COLUMN 3: Gaining knowledge by Thinking (Detached abstract theorizing)<br>
        COLUMN 4: Using knowledge for Evaluation (The application of judgment to options)<br><br>
        Your profile is your own unique blend of the four quadrants. It’s your“shape” that counts. The quadrant in which your profile is most dominant indicates your strongest orientation. The other quadrants represent secondary styles accordingly.
      </p>
  </body>
</html>
